@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

h1,h2{
  color: red;
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
h1{
  font-size:50;
}
p,ul{
  font-family:'Slabo 27px' , serif;
  text-align: center;
}
